body{
    font-style:Times;
}
h1{
    font-family:'Press Start 2P', Times, serif;
    background-color: beige;
    color:blanchedalmond;
    font-weight: bold;
}
p{
    font-size:medium;
    font-family: 'Times New Roman', Times, serif;
    text-decoration:black dotted underline;
    font-size:18px;
}
#p1{
    color:#ff006a;
}
.odd{
    color:aqua;
}
.even{
    background-color:lightblue; 
}